* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("../img/sky.jpg") center no-repeat;
    background-size: 100% 100%;
}
span {
    color: white;
}
.panel {
    width: 100%;
    height: 100%;
}

.left {
    width: 40%;
    height: 100%;
}

.main {
    background: linear-gradient( 45deg, #222222,#3684d9) ;
    padding: 5vh;
    border: 3px dashed #000000;
    border-radius: 2em;
}

.changeName {
    height: 15vh;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.info {
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    font-size: 1.3em;
    background: rgba(55, 55, 55, 0.8);
}

.elements {
    width: 100%;
    height: 100%;
}

.element {
    position: absolute;
}

.player {
    background: url("../img/player.png") center no-repeat;
    background-size: contain;
}

#end > h2 > span {
    color: white;
}

.pause {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.enemyaircraft {
    background: url("../img/aircraft.png") center no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
.bomb {
    background: url("../img/bomb.png");
    background-size: contain;
    transform: rotate(60deg);
}
.playerbullet {
    background: url("../img/bullet.png") center no-repeat;
    background-size: contain;
}
